
body{
	font-family: timenewroman;
	background:url(banner_spring.jpg);
	}

.order_page{
	padding-top: 5% ;
}

.input_information{
	border-right: thin solid #b8b5ae
}

/*DIEU HƯƠNG*/
.dieuhuong{
		padding: 1% 0px;
		font-size: 0.9rem;
		font-family: timenewroman

}

.dieuhuong a:nth-child(1){
		cursor: pointer;
		position: relative;
		color: black;
		text-decoration: none;
}	

.dieuhuong a{
		padding: 0px;
		font-size: 0.9rem;
		font-family: timenewroman
}		

.dieuhuong a:nth-child(1):before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	height: 1px;
	transition: 0.5s;
	background-color: black;
}

.dieuhuong a:nth-child(1):hover:before{
	width: 100%;
}

/*LEFT*/
.title_branch{
	font-weight: bold;
	font-size: 1.5rem;
}

.dathang{
	margin-top: 3%;
}

/*RIGHT*/
.order_title{
	font-weight: bold;
	font-size: 1.2rem;
}

.order_list table {
	margin-top: 3%;
}

.order_list table thead{
	font-size: 0.7rem;
	font-weight: normal!important;
	text-align: center;
	vertical-align:middle;
}

.order_list table tbody button{
	background-color: white;
	border: none;
}

.come_back{
	font-weight: bold; 
	font-size: 1rem;
	margin-top: 3%;"
}

.come_back a{
	color: black;
	text-decoration: none;
}

.come_back a:hover{
	color: blue;
}