
.border_maked{
	width: 75%;
	border-top: thin solid #b4bfbf;
	margin: 0 auto;
}

.row{
	margin: 0px;
}

/*HEADER*/

.top_header {
	border-bottom: thin solid black;
	padding: 0px;
	font-size: 0.9rem;
}

.top_header a{
	color: black;
}

.top_header .col-lg-1 img {
	max-width: 30%;
	margin-top: 10%;
	cursor: pointer;
}

.top_header .col-lg-11  {
	padding: 0.2% 0px;
}

.top_header .col-lg-1  {
	padding: 0.2% 0px;
}

.top_header .nav-item a:hover{
	color: blue!important;
}

#khuyenmai:hover{
	color: blue!important;
}

/*NAV Bar*/
.header_bar {
	padding: 0px;
	/*background-color: white;*/
}

.header_bar .navbar{
	padding: 0px;
	background: white;
}


.header_bar .navbar-nav{
	text-align: center;
	justify-content: center;
	width: 60%;
}

.header_bar ul li{
	padding: 0px 1%;
}


.header_bar .navbar-brand {
	margin: 0px;
	padding: 0px;
	width: 15%;
}

.header_bar .navbar-brand img{
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}


.header_bar .navbar-collapse .nav-item .nav-link{
	color: black;
	font-size: 1rem;
	font-weight: bold;
}

.header_bar form{
	border-radius: 0px;
	width: 40%;
	margin-right: 1.5%
}

.header_bar form .fa-search{
	background: white;
}

.header_bar form .input-group-text{
	background: white;
	border-left: none;
	width: 100%;
	padding-left: 10%;
	border-radius: 0px;
}


.header_bar form input{
	border-right: none;
	border-radius: 0px;

}

.header_bar form .input-group{
	width: 100%;
}

.header_bar .fa-shopping-bag{
	color: black;
}

.header_bar .navbar-nav .nav-item a:hover{
	color: blue;
}



/*SUB MENU*/


.display_submenu .submenu{
	position: absolute;
	right: 0%;
	text-align: left;
	padding: 1.5% 1%;
	display: none;
	z-index: 10;
	background: white;
}
.sub_menu_grid{
	width: 14%;
	float: left;
}

.sub_menu_img{
	width: 16%;
	float: left;
}

.sub_menu_grid ul {
	padding:0px;
}

.sub_menu_grid ul li {
	padding: 4% 0px;
}

.sub_menu_grid ul li a{
	color: black;
	font-size: 0.8rem
}

.sub_menu_grid ul li:first-child a{
	color: black;
	font-weight: bold;
	font-size: 0.8rem
}


.display_submenu:hover .submenu{
	display: block !important;
}

/*CAROSEL TIT CHỮ THANH MENU*/
.carosel_text_change{
	overflow: hidden;
	width: 100%;
	display:block!important;
}

.text_change{
	width: 500%;
	background-color: #426cf5;
	display: flex;
}



.text_change_content{
	width: 20.2694%;
	color: white;
	text-align: center;
	position: relative;
	padding: 5px 0px;
	color: white
	font-size: 1rem;
	font-family: TimeNewRoman
}

/*<!-- CAROSEL BANNER -->*/


.carousel_banner_content{
	overflow: hidden;
	padding: 0px;
	position: relative;
}

.total_banner{
	width:400%;
	display: flex;
	transition: 1s;
}

.banner{
	width: 25%;
}

.banner img{
	width: 100%;
}

.carousel_banner_content .fa-chevron-left{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	font-size: 2rem;
}

.carousel_banner_content .fa-chevron-right{
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	font-size: 2rem;
	cursor: pointer;
}

/*BANNER IMG*/

.total_banner_img {
	padding: 0px;
}

.total_banner_img .col-lg-12{
	padding: 0px;
}

.total_banner_img .col-lg-4{
	padding: 0px;
}



.total_banner_img img{
	width: 100%;
}

.banner_img_title{
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	padding-top: 0.5rem;
}


/*SẢN PHẨM MỚI*/

.total_san_sale{
	margin-top: 5%!important;
	width: 75%;
	margin: 0 auto;
	border-top: thin solid black;
	border-bottom: thin solid black;
	padding: 2.5rem 0px
}

.total_san_sale div:first-child{
	font-size: 1.5rem!important;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	text-align: center;
	font-weight: bold;
}

.total_san_sale div:nth-child(2) {
	text-align: center;
	margin-top: 3%;
}



.total_san_sale div:nth-child(2) a{
	font-size: 1.2rem;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	text-align: center;
	color: black;
	border: thin solid black;
	padding: 1% 1%;
	border-radius: 5%;
	margin-left: 3%;
	text-decoration: none;
	font-weight: bold;
}



.total_san_sale div a:hover{
	color: blue;
	border: blue thin solid;
}

/*ALBUM MUA 1 TANG 1*/
.album_somi_vaikhangthuan{
	background-image: url("home.img/banner_img/mua1tang1.jpg"); 
	background-size: cover;
	height: 500px;
	padding: 0px;
	margin-top: 4%;
	position: relative;
}

.album_somi_vaikhangthuan .backgroundcolor{
	background-color: grey;
	opacity: 0;
	height: 500px;
	z-index: 5;
}

.album_somi_vaikhangthuan_text{
	position: absolute;
	top: 35%;
	width: 100%;
	z-index: 10!important;
}

.album_somi_vaikhangthuan_text div:nth-child(1){
	color: white;
	font-size: 2rem;
	text-align: center;

}

.album_somi_vaikhangthuan_text div:nth-child(2){
	text-align: center;
	margin-top: 1%;
}


.album_somi_vaikhangthuan_text div:nth-child(2) a{
	text-align: center;
	color: white;
	padding: 0.5% 3%;
	background-color: blue;
	text-decoration: none;
	color: white;
}

.album_somi_vaikhangthuan_text div:nth-child(2) a:hover{
	background-color: blue;
}

/*ALBUM MUA 1 TANG 1*/
.album_somi_sieuphang_polysun{
	background-image: url("home.img/banner_img/quankaki.jpg"); 
	background-size: cover;
	height: 600px;
	padding: 0px;
	margin-top: 4%;
	position: relative;
}


.album_somi_sieuphang_polysun_backgoundcolor{
	height: 600px;
	background-color: grey;
	opacity: 0.2;
}

.album_somi_sieuphang_polysun_text{
	position: absolute;
	top: 25%;
	width: 100%;
	z-index: 10!important;
}

.album_somi_sieuphang_polysun_text div:nth-child(1){
	color: white;
	font-size: 2rem;
	text-align: center;

}

.album_somi_sieuphang_polysun_text div:nth-child(2){
	color: white;
	font-size: 1rem;
	text-align: center;

}

.album_somi_sieuphang_polysun div:nth-child(3){
	text-align: center;
	margin-top: 5%;
}


.album_somi_sieuphang_polysun div:nth-child(3) a{
	text-align: center;
	color: white;
	padding: 0.5% 3%;
	background-color: white;
	text-decoration: none;
	color: black;
	margin-left: 5%;
}

.album_somi_sieuphang_polysun_text div:nth-child(3) a:hover{
	background-color: blue;
}

/*<!-- SẢN PHẢM NỔI BẬT -->*/
.carousel_noibat_title{
	margin-top: 3%;
	background-color: black;
	text-align: center;
	font-size: 1.5rem;
	color: white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;

}

.carousel_noibat_content{
	overflow: hidden;
	padding: 0px;
	position: relative;
}

.total_product_noibat{
	width:300%;
	display: flex;
	transition: 1s;
}

.product_noibat{
	width: 6.67%;
}

.product_noibat img{
	width: 100%;
}

.carousel_noibat_content .fa-chevron-left{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	font-size: 2rem;
}

.carousel_noibat_content .fa-chevron-right{
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	font-size: 2rem;
	cursor: pointer;
}

/*VIDEO MODAL*/
.total_video_modal{
	padding: 0px;
	margin-top: 5%;
}

.total_video_modal .row{
	margin: 0px;
}

.total_video_modal .col-lg-6 {
	padding: 0px 5px;
	position: relative;
	overflow: hidden;
}

.total_video_modal .col-lg-6 div{
		font-weight: bold;
		text-align: center;
		padding-top: 3%;
}

.total_video_modal .col-lg-6 img{
	width: 100%;
	transition: 0.5s
}

.total_video_modal .col-lg-6 img:hover{
	transform: scale(1.1);
}

.total_video_modal .col-lg-6  .fa-play-circle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-size: 3rem;
}

.total_video_modal .col-lg-6  .fa-play-circle:hover{
	color: blue;
}

.modal-body {
	padding: 0px;
	position: relative;
}

.modal-body button {
	position: absolute;
	right: 0%;
	top: 0%;
	transform: translate(50%,-50%);
	background-color: black;
	padding: 0.5%;
	display: block;
	font-size: 2rem;
	color: white;
}


.modal-body iframe{
	width: 100%;
	height: 430px;
}

/*<!-- CAROSEL SELL GOOD -->*/
.carousel_sale_good_title{
	margin-top: 5%;
	background-color: black;
	text-align: center;
	font-size: 1.5rem;
	color: white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.carousel_sale_good_content{
	overflow: hidden;
	padding: 0px;
	position: relative;
}

.total_product_sale_good{
	width:300%;
	display: flex;
	transition: 1s;
}

.product_sale_good{
	width: 6.67%;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	transition: 1s;
}

.product_sale_good:hover{
	
/*	border: thin solid rgb(110, 0, 0);*/
	transform: scale(1.05);
	overflow: hidden;

}


.product_sale_good img{
	width: 100%;
}

.product_sale_good img:hover{
	width: 100%;
	
}

.carousel_sale_good_content .fa-chevron-left{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	font-size: 2rem;
}

.carousel_sale_good_content .fa-chevron-right{
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	font-size: 2rem;
	cursor: pointer;
}

.product_sale_good_img_small{
	width: 20%;
	padding: 0.5%;
	margin: 0 auto;
	margin-top: 15%!important;
	box-sizing: border-box;
	border: thin solid black;
	border-radius:5%;
	overflow: hidden;
	cursor: pointer;
}

.product_sale_good_img_small img{
	transition: 0.5s;
	width: 100%;
}

.product_sale_good_img_small img:hover{
	transform: scale(1.1);
}

.product_sale_good_title{
	text-align: center;
	padding: 2% 2%;
	color: black;
}

.product_sale_good_title a{
	color: black;
	text-decoration: none;
}

.product_sale_good_price{
	text-align: center;
	padding: 1% 2%;
	color: red;
}

.product_sale_good_price span{
	font-weight: bold;
	padding: 0px 2%;
}

.product_sale_good_price del{
	font-size: 0.8rem;
	padding: 0px 2%;
}

.product_sale_good_icon{
	position: absolute;
	bottom: 40%;
	transform: translate();
	height: 0px;
	transition-duration: .5s!important;
	display: flex;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	font-size: 1rem;
	overflow: hidden;
}

.product_sale_good:hover .product_sale_good_icon{
	height: 1.5rem;
}


.product_sale_good_icon button{
	background-color: black;
	color: white;
	border: none;
	margin-right: 5%;
}

.xemthem{
	text-align: center;
	margin-top: 2%;

}

.xemthem a{
	text-align: center;
	background-color: black;
	color: white;
	padding: 0.5% 2%;
	font-size: 1rem;
	text-decoration: none;
}

.xemthem a:hover{
	background-color:blue;
	
}








/*FOOTER*/
.footer{
	padding: 0px;
	display: flex;
	margin-top: 2rem;
	margin: 0 auto
}

.footer ul{
	list-style-type: none;
	padding: 0px;
}

.footer ul li{
	text-align: justify;
	padding-top: 1rem;
	color: black;
	font-size: 0.9rem
}

.footer ul li:first-child{
	font-size: 1.1rem;
}

.footer ul li a{
	color: black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/*overflow:hidden;*/
	text-decoration: none;
	position: relative;
	padding-bottom: 0.1rem;
}

.footer .input-group{
	width: 100%;
}

.footer .input-group input{
	font-size: 0.9rem;
	font-style: italic;
}

.footer .input-group-prepend span{
	background-color: black;
}

.footer .input-group-prepend span i{
	color: white;
}

/*TAO hieu ung Hover gach chan*/
.footer ul li a:before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	height: 1px;
	transition: 0.5s;
	background-color: #42a4f5;
}

.footer ul li a:hover:before{
	width: 100%;
}

.footer ul li a:hover{
	color: #42a4f5
}




/*SOCIAL MEDIA ICON*/

.icon_media ul {
	display: flex;
	justify-content: center;
}

.icon_media ul li {
	list-style: none;
}

.icon_media ul li a {
	width: 2.2rem;
	height: 2.2rem!important;
	background-color:white;
	text-align: center;
	font-size: 1.3rem;
	margin: 0 0.5rem;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden!important;
	border: 0.05rem solid #ede6f0;
	z-index: 1;
}

.icon_media ul li a .icon {
	position: relative;
	color: black;
	transition: .5s;
	z-index: 3;
}

.icon_media ul li a:hover .icon {
	color: #fff;
	transform: rotateY(360deg);
}

.icon_media ul li a:before {
	content: "";
	position: absolute;
	top: 110%;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
	z-index: 2;
}


.icon_media ul li a img{
	width: 80%;
	position: relative;
	z-index: 5!important;
}

.icon_media ul li a:hover img{
	transform: rotateY(360deg);
}

.icon_media ul li a:hover:before {
	top: 0;
}

.icon_media ul li:nth-child(1) a:before{
	background: #3b5999;
}

.icon_media ul li:nth-child(2) a:before{
	background: #55acee;
}

.icon_media ul li:nth-child(3) a:before {
	background: #0077b5;
}

.icon_media ul li:nth-child(4) a:before {
	background: #dd4b39;
}

.icon_media ul li:nth-child(5) a:before {
	background: #42c8f5;
}

/*INFORMATION COMPANY*/



.border_information{
	width: 70%;
	border-top: 1px solid rgb(230, 230, 230)!important;
	margin: 0 auto;
	margin-top: 2rem;
}

.information_company{
	margin-top: 1.2rem

}

.information_company ul{
	list-style-type: none;
	padding: 0px;
}
.information_company ul li{
	padding-top: 0.7rem;
	font-size: 0.9rem;
}

.information_company ul li a{
	font-size: 0.9rem;
	text-decoration: none;
	color:#005cab;
	position: relative;
}

.information_company ul li:nth-child(1){
	/*font-weight: bold;*/
	font-size: 1.1rem;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.information_company ul li a:before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	height: 1px;
	transition: 0.5s;
	background-color: #005cab;
}

.information_company ul li a:hover:before{
	width: 100%;
}




/*CSS NAV BAR CHO MOBILE IPAD*/
.topnav {
  /*overflow: hidden;*/
  background-color: white;
}

.topnav #myLinks {
  display: none;
  width: 100%;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 1% 3%;
  box-sizing: border-box;
}

.topnav a i {
margin-top: 130%;

}

.topnav a.icon {
  background: white;
}

#myLinks .mobile_menu{
	list-style-type: none;
	padding: 1%;
}

#myLinks .mobile_menu .mobile_menu_title{
	background-color: #005cab;
	color: white;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}

#myLinks .mobile_menu li{
	padding: 3% 3%;
	font-size: 1rem;
	font-weight: bold;
}

#myLinks .mobile_menu li a{
	font-size: 1rem;
	font-weight: bold;
}

#myLinks .mobile_menu li{
	position: relative;
	}

#myLinks .mobile_menu li .fa-angle-double-down{
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	color: #005cab;
	animation: bounce 1s infinite
}

@keyframes bounce{
	0% {
		top: 0px;
	}

	100%{
		top: 20px;
	}

}

.toggle_submenu_mobile{
	display: none;
	font-weight: bold;
	list-style-type: none;
	padding-left: 5%;
}

.toggle_submenu_mobile_last{
	display: none;
	font-weight: bold;
	list-style-type: none;
	padding-left: 5%;
}

.toggle_submenu_mobile .fa-plus{
	position: absolute;
	right: 5%;
	/*top: 50%;*/
	transform: translateY(28%);
	color: #005cab;
	/*position: relative;*/
}



/* Style the active link (or home/logo) */


/*CHO MAN HINH LON HON 768 px*/
@media screen and (max-width: 812px) {
  html {
    font-size: 14px;
  }

  .container{
  	max-width: 95%;
  }

  /*BANNER IMG*/
.total_banner_img .col-12 {
	padding: 0px;
}

.total_banner_img .col-6 {
	padding: 0px;
}

.total_banner_img .col-12:nth-child(3) {
	text-align: center;
}

.total_banner_img .col-12:nth-child(3) img{
	width: 50%;
}


/*SẢN PHẨM MỚI*/
.total_san_sale div:nth-child(2) a{
	margin-left: 2%;
	margin-top: 1%;
	display: inline-block;
}


/*Mua 1 TAng 1*/
.album_somi_vaikhangthuan{
	/*width: 95%;*/
	background-size: cover;
	height: 300px;
	background-image: url(home.img/banner_img/mua1tang1.jpg);
}


.album_somi_vaikhangthuan .backgroundcolor{
	height: 300px;
}

 /*SƠMI SIÊU PHẲNG POLYSPUN*/
 .album_somi_sieuphang_polysun{
 	height: 300px;
 	/*width: 95%;*/
 }

 .album_somi_sieuphang_polysun .album_somi_sieuphang_polysun_backgoundcolor{
 	height: 300px;
 	
 }
 /*SAN PHAM NOI BAT*/
 .total_product_noibat{
 	width: 600%;
 }

 .product_noibat{
 	width: 5.55%;
 }


 /*VIDEO MODAL*/
 .total_video_modal {
 /*	width: 95%;*/
 }


/*SALE GOOD CAROSEL*/
 .total_product_sale_good{
 	width: 600%;
 }

 .product_sale_good{
 	width: 5.55%;
 }





/*FOOTER*/

.footer {
	font-size: 1.1rem;

}

.footer .icon_media ul li{
	padding: 0px 6%;
}

.footer .col-12 li{
	font-size: 1.1rem;
}
.footer .col-12 li .input-group input{
	font-size: 1.1rem;
}

.footer .col-12 li .input-group-prepend{
	font-size: 1.1rem;
}
.footer .col-12 li a{
	font-size: 1.1rem;
	font-weight: normal;
}


.footer .fa-plus {
	position: absolute;
	color: blue;
	top: 10px;
	right: 5%;
}

.footer .toggle_submenu_mobile li a{
	font-size: 0.9rem;
}


.footer .bottom_menu div{
	position: relative;
	padding-top: 1.5%;

}

.footer .icon_media{
	margin-top: 2%;

}






}




@media screen and (max-width: 576px)  {
  html {
    font-size: 12px;
  }

  /*BANNER COUPLE*/
.total_banner_img .col-12 {
	padding: 0px;
}

.total_banner_img .col-6 {
	padding: 0px;
}

.total_banner_img .col-12:nth-child(3) {
	text-align: center;
}

.total_banner_img .col-12:nth-child(3) img{
	width: 50%;
}


/*BANNER ALBUM VESTON NAM*/
.album_somi_vaikhangthuan{
	width: 95%;
	background-size: contain;
	height: 300px;
}


.album_somi_vaikhangthuan .backgroundcolor{
	height: 300px;
}

 /*SƠMI SIÊU PHẲNG POLYSPUN*/
 .album_somi_sieuphang_polysun{
 	height: 300px;
 	width: 95%;
 }

 .album_somi_sieuphang_polysun .album_somi_sieuphang_polysun_backgoundcolor{
 	height: 300px;
 }

 /*SAN PHAM NOI BAT*/
 .total_product_noibat{
 	width: 600%;
 }

 .product_noibat{
 	width: 8.3%;
 }


 /*VIDEO MODAL*/
 .total_video_modal {
 	width: 95%;
 }


/*SALE GOOD CAROSEL*/
 .total_product_sale_good{
 	width: 600%;
 }

 .product_sale_good{
 	width: 8.3%;
 }


/*FOOTER*/

/*.footer .col-12{
	font-size: 1.5rem;
}
*/

.footer .col-12 li{
	font-size: 1.1rem;
}
.footer .col-12 li .input-group input{
	font-size: 1.1rem;
}

.footer .col-12 li .input-group-prepend{
	font-size: 1.1rem;
}
.footer .col-12 li a{
	font-size: 1.1rem;
	font-weight: normal;
}

.footer .toggle_submenu_mobile li:nth-child(1) a{

}


.footer .toggle_submenu_mobile li a {
    font-size: 0.9rem;
}

.footer fa-plus {
	position: absolute;
	left: 4%;
	/*top: 6px;*/
}

.footer .icon_media {
	margin-top: 3%;
}

.footer .icon_media ul li{
	padding: 0px 5%;
}

.footer .bottom_menu div{
	position: relative;
	padding-top: 3%;
}

}





@keyframes move_text{
	from  { top: 30px; }
	to { top:0px; }
}	








/*HIEU UNG TUYET ROI*/


.snow-container{position:fixed;width:100%;max-width:100%;z-index:99999;pointer-events:none;overflow:hidden;top:0;height:100%}
.snow{display:block;position:absolute;z-index:2;top:0;right:0;bottom:0;left:0;pointer-events:none;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-webkit-animation:snow linear infinite;animation:snow linear infinite}
.snow.foreground{background-image:url("home.img/snow/snow_large.png");-webkit-animation-duration:15s;animation-duration:10s}
.snow.foreground.layered{-webkit-animation-delay:7.5s;animation-delay:7.5s}
.snow.middleground{background-image:url("home.img/snow/snow_medium.png");-webkit-animation-duration:20s;animation-duration:15s}
.snow.middleground.layered{-webkit-animation-delay:10s;animation-delay:10s}
.snow.background{background-image:url("home.img/snow/snow_small.png");-webkit-animation-duration:25s;animation-duration:20s}
.snow.background.layered{-webkit-animation-delay:12.5s;animation-delay:12.5s}
@-webkit-keyframes snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}
@keyframes snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}