.tc-menu {
border-right:solid black 1px;
color: black; 
}
.leftmenu {
 font-weight: bold;
 text-transform: uppercase;
}
#tieudemenu{
	font-size: 15px;
}
.check{
	background-color: blue;
}
.imgclass{
width: 100%;
}
.muahang{
	background-color:black;
	color: white;
	text-align: center;
	border: solid black 1px;
}

.form-check-input1{
	background-color: blue;
}
.mausac {
border: solid 1px black;
height: 20px;
width: 20px;
}
ul li .muahang:hover{
	background-color: #3399ff;
	border:#3399ff solid 1px;
	color: white; 
}
.row #chuyendongsp:hover{
   box-shadow: 0 0 11px 5px rgba(217, 217, 217, 1);
   border-radius: 10px;

}
.leftmenu1{
	padding-top: 10%;
}


/*RESPONSIVE IPAD*/
@media screen and (max-width: 1024px)  {
.leftmenu #tieudemn{
	font-size: 13px;
}

#mn{
	font-size: 13px;
	padding-bottom: 5px;
}

#danhmuc{
	font-size: 14px;
}
#danhm{
	font-size: 14px;
}

#sanpham{
	font-size: 13px;
}
 .muahang {
 	display: none;
 }
 
	.page-item {
 	font-size: 10px;
 	font-weight: bold;
 }
}

/*ipad mini/ipad*/
@media screen and (max-width: 768px) {
.leftmenu #tieudemn {
		font-size: 11px;

}
#mn {
	font-size: 12px;
	padding-bottom: 5px;
}
.muahang {
 	display: none;
 }
 #sanpham{
 	font-size: 12px;
 }
 option {
 	font-size: 11px;
 }
 select{
 	font-size: 11px;
 }
 .breadcrumb-item a{
 	font-size: 13px;
 }
 	.page-item {
 	font-weight: bold;
 }
 #danhmucon li{
padding-bottom: 5px;
}
}


/*laptop*/
@media screen and (min-width: 1280px)  {
	.leftmenu #tieudemn{
		font-size: 14px;
	}

#mn{
	font-size: 14px;
	padding-bottom: 5px;
}
#danhmuc{
	font-size: 15px;
}

#sp{
	font-size: 15px;
}
 .muahang {
 	font-size: 16px;
 }
	.page-item {
 	font-size: 15px;
 }
#danhmucon li{
padding-bottom: 5px;
}
}

/*iphone 6/7/8 plush*/
 @media screen and (max-width: 414px)  {
	.leftmenu #tieudemn{
		font-size: 1rem;
	}

#mn{
	font-size: 11px;
	padding-bottom: 5px;
}

#danhmuc{
	font-size: 14px;
}
#danhm{
	font-size: 13px;
	padding-top: 7%;
}

#sanpham{
	font-size: 13px;
}
 .muahang{
 	display: none;
 }
	.page-item{
 	font-size: 13px;
 }
#danhmucon1{
 	display: none;
 }
 #danhmucon{
 	display: none;
 }
 #danhmucon li{
padding-bottom: 5px;
}
}
/*laptop*/
@media screen and (min-width: 1440px)  {
	.leftmenu #tieudemn{
		font-size: 15px;
	}

#mn{
	font-size: 15px;
	padding-bottom: 5px;
}
#danhmuc{
	font-size: 1rem;
}

#sanpham{
	font-size: 1rem;
}
 .muahang {
 	font-size: 1rem;
 }
	.page-item {
 	font-size: 13px;
 }
 option {
 	font-size: 12px;
 }
 #danhmucon li{
padding-bottom: 5px;
}
 
}

/*iphone 6/7/8/x */
@media screen and (max-width: 375px)  {
.leftmenu #tieudemn{
	font-size: 12px;
	}

#mn{
	font-size: 11px;
	padding-bottom: 5px;
}
#danhmuc{

	font-size: 14px;
}
#danhm{
	font-size: 13px;
	padding-top: 6%;
}

#sanpham{
	font-size:11px;
}
 .muahang {
 	display: none;
 }
	.page-item {
 	font-size: 9px;
 }
 
 #danhmucon1{
 	display: none;
 }
 #danhmucon{
 	display: none;
 }
 .breadcrumb-item a{
 	font-size: 13px;
 }
 #danhmucon li{
padding-bottom: 5px;
}

}

/*iphone 5*/
@media screen and (max-width: 320px)  {
	.leftmenu #tieudemn{
		font-size: 11px;
	}

#mn{
	font-size: 10px;
	padding-bottom: 5px;
}
#danhm{
	font-size: 10px;
}
#danhmuc{

	font-size: 10px;
}

#sanpham{
	font-size:11px;
}
 .muahang {
 	display: none;
 }
	.page-item {
 	font-size: 11px;
 }
 #danhmucon1{
 	display: none;
 }
 #danhmucon{
 	display: none;
 }
 option {
 	font-size: 10px;
 }
 select{
 	font-size: 10px;
 }
 #danhmucon li{
padding-bottom: 5px;
}
}

.breadcrumb-item a{

font-weight: bold;
text-decoration: none;
color: black;
}
.breadcrumb-item{
font-size: 15px;
text-decoration: none;
}
.page-link{
	color: black;
	border: solid 1px black;
}
.page-item .page-link:hover {
	background-color:#3399ff;
	font-weight: bold;
	color: white;
}





.page-item{
	padding: 0% 1%;
	font-weight: bold;
}

#mn {
	font-family: time new roman;
}
.page-item.active .page-link{
	background-color:#33cc33;
}





.breadcrumb-item a:hover{
	color: #42a4f5
}



 



